.podcast-wrapper {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 2rem;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 100% 10%;
    height: 100%;
    padding: 5rem 5rem;
}

.podcast-header {
    background-repeat: no-repeat;
    background-position: 100% 100%;
    display: flex;
    gap: 2rem;
}
.podcast-title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.podcast-title {
    font-size: 46px;
}

.podcast-desc {
    font-size: 28px;
    width: 80%;
}

.podcast-grid-title {
    font-size: 42px;
}

.podcast-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
    gap: 2rem;
    padding-bottom: 4rem;
}
