.ig-post-wrapper {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
}
.instagram-wrapper {
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

@media (width < 380px) {
    .ig-post-wrapper {
        gap: 2rem;
        width: 350px;
        scale: 0.9;
    }
}