@import url("https://fonts.googleapis.com/css2?family=Belgrano&family=Montserrat:wght@100;300;400;600;700;900&display=swap");

.navbar-wrapper {
  display: flex;
  flex-direction: row;
  max-height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  width: 100%;
  gap: 5rem;
  background-color: #faedb9;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 24px;
  font-family: "Montserrat", "Belgrano", "sans-serif";
}

.navbar-logo {
  width: 100px;
}
.navbar-ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  list-style: none;
  justify-content: space-around;
  width: 100%;
}

.navbar-ul > li:hover {
  cursor: pointer;
}
a,
a:visited,
a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(101, 101, 101);
}

.active {
  font-weight: 600;
}


.hamburger-menu {
  display: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;  
  z-index: 55;


}
.hamburger-menu .bar, .hamburger-menu::after, .hamburger-menu::before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: black;
  margin: 6px 0px;
  transition: 0.4s;
}
.hamburger-menu.active::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger-menu.active::after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger-menu.active .bar {
  opacity: 0;
}

.hamburger-menu-ul-wrapper {
  background-color: #faedb9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 50;
}

.hamburger-menu-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  padding: 10rem 0rem;
  gap: 2rem;
}

.hamburger-menu-ul > * >li {
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.212);
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.hamburger-menu-ul > * >li:hover {
  background-color: #FBF6DA;
}


@media (width < 1000px) {
  .hamburger-menu {
    display: block;
  }
}


@media (width < 1160px) {
  .navbar-wrapper {
    font-size: 21px;
    gap: 2rem;
    padding: 0.4rem 1rem;
  }
}

@media (width < 1020px) {
  .navbar-wrapper {
    font-size: 18px;
    gap: 2rem;
    padding: 0.4rem 1rem;
  }
  .navbar-logo {
    width: 80px;
  }
}

@media (width < 900px) {
  .navbar-wrapper {
    font-size: 16px;
    gap: 1rem;
    padding: 0.4rem 0.5rem;
  }
  .navbar-logo {
    width: 50px;
  }
}
@media (width < 750px) {
  .navbar-ul {
    display: none;
  }
  .navbar-logo {
    width: 50px;
  }
}