.sponser-box > img {
    height: 90px;
    display: flex;
    align-items: center;
}

.sponser-slider-wrapper {
    display: flex;
    flex-direction: column;
}

.sponser-box {
    display: flex;
    background-color: rgba(215, 215, 215, 0.147);
}

.sponser-slider-title {
    font-size: 32px;
    margin: 1rem 0rem;
    text-align: center;
}

.sponser-slider-wrapper {

}

.sponser-slider-wrapper .sponser-box {
    padding: 3rem 0rem;
}

.sponser-box img {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}